
 <!-- App CSS -->
 <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<footer>
  <p class="footer-info">The PetStore is a buy/sell Listing Website develop as a Midterm Group Project for Lighthouse Labs Web Development Bootcamp.</p>
</footer>
