<header>

  <nav class="navbar">
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
    </div>
    <img class="logo"  src="https://cdn.discordapp.com/attachments/951900876417687582/951986380941172847/logo_pet_store.png" width="9%">
    <span>
      <form action="/search" method="GET">
        <input type="text" placeholder="Search Products" name="search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      </span>
  </nav>
  <div class="menu" style="display:none;">
    <span><a href="#">test1</a></span>
    <span><a href="#">test2</a></span>
    <span><a href="#">test3</a></span>
  </div>
</header>
