<!doctype html>
<html lang="en">
  <head>
    <title>Browse</title>
    <%- include('partials/_header') %>
  </head>

<body>
  <div id="browse-main-container">
    <div id="filter-container">
      FILTER CHECKBOX COLUMN

    </div>
    <div id="items-container">
      <div class="column">
        <div class="product-container">
          <a href="/products/9">
        <img src="https://www.petfoodindustry.com/ext/resources/Images-by-month-year/20_11/Generic-pet-food-bag.jpg?t=1605704299&width=1080">
          <h4>PRODUCT NAME</h4>
          <span>PRICE</span>
          </a>
        </div>

      </div>
      <div class="column">
        <div class="product-container">
          <a href="/products/10">
            <img src="https://www.thesprucepets.com/thmb/dFGxtCACFifTJUm9zMlmKf4ZydA=/900x0/filters:no_upscale():max_bytes(150000):strip_icc()/Pedigree-4a19c0b74f644dd49cf7451c652d2532.jpg">
            <h4>PRODUCT NAME</h4>
            <span>PRICE</span>
          </a>
        </div>

      </div>
      <div class="column">
        <div class="product-container">

          test product 3

        </div>
      </div>
    </div>
  </div>


</body>
