<!doctype html>
<html lang="en">
  <head>
    <title>Cart</title>
    <%- include('partials/_header') %>
  </head>

<body>
  <div id="cart-container">
    <div id="cart-title">Cart</div>

    <div id="cart-table">




      <div class="row-table">
        <div class="cart-product">Product</div>
        <div class="cart-price ">
          Price
        </div>
        <div class="cart-qty">QTY</div>
        <div class="cart-total">Total</div>
      </div>

      <div class="add-product-cart">
        <span class="item-thumb"><img src="https://media.istockphoto.com/photos/dog-food-picture-id184365735?b=1&k=20&m=184365735&s=170667a&w=0&h=9DcIKkWyCEeH9dHwgVrOrvPoR9B5htOK7tru3OYFAe4=">&ensp;ITEM NAME</span>
        <span class="item-price">6.99</span>
        <span class="item-qty">5</span>
        <span class="item-total">5.99</span>
      </div>

      <div class="cart-footer">
        <div class="footer-total">TOTAL HERE</div>
        <form id="update" action="/cart" method="POST">
          <button class="update-btn">UPDATE TOTALS</button>
        </form>
        <form id="confirm" action="/purchase" method="POST">
          <button class="confirm-btn">PURCHASE</button>
        </form>
      </div>

    </div>








  </div>
</body>
