<!doctype html>
<html lang="en">
  <head>
    <title>Create New Listing</title>
    <%- include('partials/_header') %>
  </head>


<body>

  <main id="product-container">
    <div id="product-image">
      <img src="https://m.media-amazon.com/images/I/714x6ijdBcL._AC_SL1500_.jpg">
    </div>
    <div id="product-info">
      <div id="product-title">Product Title</div>
      <div class="price-quant">$&nbsp;products.price<span class="price-quant">Stock:&nbsp;products.stock</span></div>
      <br>
      <div class="product-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      <br>
      <form action="/addcart" method="POST" id="add-cart-btn">
        <label for="add-cart-btn" id="add-cart-btn" name="add-cart-btn"></label>
        <button type="submit">Add To Cart</button>
      </form>
    </div>


  </main>






</body>
