<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS I CANT MAKE THIS LINK WORK-->
  <!-- <script type="text/javascript" src="../public/scripts/isChecked.js"></script> -->

  <script type="text/javascript">
    $(document).ready(function() {

      $('#is_seller').change(function() {
        if ($(this).prop('checked')) {
          $('#seller').slideDown();
        } else {
          $('seller').slideUp();
        }
      })

    });
  </script>



  <%- include('partials/_header') %>


  <title>Register - PetStore</title>

</head>
<body>

  <main class="centered-flex">

    <div class="form-shadow">
      <h3>Create Account</h3>
      <form action="/register" method="POST" id="form_register">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Your full name">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Your best email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="postal">Postal Code</label>
            <input type="text" class="form-control" name="postal">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </div>


        <div class="form-group">
          <div>
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" placeholder="1234 Main St, complement">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country">
          </div>
          <div class="form-group col-md-4">
            <label for="province">Province or State</label>
            <input type="text" class="form-control" name="province">
          </div>
          <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city">
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_seller">
            <label class="form-check-label" for="is_seller">Creating Account as a Seller?</label>
          </div>
        </div>

        <!-- if user is a seller -->
        <div class="container" id="seller">
          <h3>Direct Deposit Info</h3>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="account">Bank Account</label>
              <input type="text" class="form-control" name="account">
            </div>
            <div class="form-group col-md-6">
              <label for="routing">Routing</label>
              <input type="text" class="form-control" name="routing">
            </div>
          </div>
        </div>

      <div class="container">
        <button type="register" class="btn btn-dark">Submit</button>
      </div>

      </div>



    </form>
  </main>

  <%- include('partials/_footer') %>
</body>
</html>
