// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }

// .gray-background {

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dedede;
}

.form-shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  width: 500px;
  box-shadow: -10px -10px 25px 10px white, 5px 5px 25px 10px #555;
  font-family: 'Work Sans', sans-serif;

}

