body {

  background: #EDEDED;
}

.navbar {
  padding-left: .5em;
  padding-right: .5em;
  display: flex;
  border-style: solid;
  background-color:#badfbb;
  align-items: center;
  justify-content: space-between;
  color:#EDEDED;
}

.logo {
  padding: .5em;
}

.dropdown {
  border-style: solid;
}

.dropbtn {
  background-color: #badfbb;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-size: xx-large;
}
