body {
  background-color: #dedede;
}

#product-container {
  display: flex;
  padding: 1em;
  box-shadow: -10px -10px 25px 10px white, 5px 5px 25px 10px #555;
  font-family: 'Work Sans', sans-serif;
  margin:2em;
  border-radius: 20px;
}



#product-image img {
  padding:2em;
  max-width: 30em;
  vertical-align: middle;
  display: flex;
}

#product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  width: 60%;

  #product-title {
    text-align: center;
    font-size: xx-large;
  }
  .price-quant {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    align-items: center;
  }
  .price-quant span {
    font-size: large;
  }

  .product-description {
    display: flex;
  }

  #add-cart-btn {
    display: flex;
    font-size: x-large;
    text-align: center;
    justify-content: center;
  }

  // #add-cart-btn button {
  //   background-color: #badfbb;
  // }

}

#add-fav-btn {
  text-align: center;
}

#add-fav-btn button {
  text-align: center;
  // background-color:#badfbb ;
}

#bottom-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#msg-container {
  display: none;
}
